header{
    background-color:rgb(204,0,0);
    color: white;
    font-family: helvetica;
    padding: 0px 5px 5px;


    }

.main {
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 20px;

  }

.search-box {
    border: 2px solid white;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    color: grey;
    text-align: left;
    margin-right: 20px;
    margin-left: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.location{
    background-color: white;
    color: grey;
    font-family: helvetica;

}

.ads{
    background-color: rgb(60, 165, 110);
    color: white;
    padding: 50px 50px 500px;
    font-family: helvetica;
}
footer{
    background-color: black;
    color: white;
    font-family: helvetica;
    padding: 5px 5px 5px;
    margin: auto;
  }
